# Rules Service Configuration
PORT=3003

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/smart_iot

# MQTT Configuration
MQTT_HOST=192.168.110.112
MQTT_PORT=1883

# Kafka Configuration (for devices-service)
# Use port 29092 when running outside Docker (external port)
KAFKA_BROKERS=localhost:29092
